//
// Variables

$grid-gap: 15px;

// Colors
$green-color: #53A394;
$gray-dark-color: #5C5C5C;
$bg-blue-color: #F6F8FA;
$gray-color: #F0F0F0;

// Fonts
$ibm-plex-sans: 'IBM Plex Sans', sans-serif;
$ibm-plex-sans-condensed: 'IBM Plex Sans Condensed', sans-serif;
$ibm-plex-mono: 'IBM Plex Mono', monospace;